#block-ctablock {
  p {
    a {
      text-decoration: none;
      background: $blue;
      color: $white;
      padding: 0.625rem 1.5625rem;
      border-radius: 0.3125rem;

      &:hover {
        background: $red;
      }
    }
  }
}

.layout--twocol-section {
  flex-direction: column;

  @media screen and (min-width: #{$bp2}) {
    flex-direction: row;
  }
}
