footer {
  background: $black;
  clear: both;

  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
    padding: 50px 0;

    @media screen and (min-width: #{$bp1}) {
      flex-direction: row;
    }

    h2 {
      color: $red;
      margin-top: 0;
    }

    p {
      color: $white;
    }

    #block-hoursofoperation,
    #block-location,
    #block-phonenumber,
    #block-socials {
      width: 90%;
      margin: 0 auto;

      @media screen and (min-width: #{$bp1}) {
        width: 50%;
      }

      @media screen and (min-width: #{$bp2}) {
        width: 25%;
      }
    }

    #block-socials {
      a {
        margin-right: 10px;
      }
    }
  }
}
